{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}

<br>
<div class="row bg-light p-5 m-auto shadow-lg" style="width: 90%">
    <form method="post" enctype="multipart/form-data" class="mt-5 w-50 m-auto p-5 rounded-5 bg-body shadow-lg">
        <h1 class="m-auto text-center mb-3">CREAR MATERIA</h1>
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            {% if field.label == 'Image' %}
            <label for="{{field.auto_id}}">Seleccione una imagen</label>
            {% endif %}
            {{field}}

            <ul class="errorlist">
                {% for error in field.errors %}
                <li class="text-danger">
                    {{error}}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-3 w-100">GUARDAR</button>
    </form>
</div>
{% endblock content %}