<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style=" font-family: 'Luckiest Guy', cursive;">
            <h4 class="ml-3">SCHOOL MANAGER</h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                        href="{% url "core_index" %}">{{request.user.username}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if "/assign" in request.path %}active{% endif %}"
                        href="{% url "ass_index" %}">Materias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <span class="navbar-text px-3 rounded-3 shadow-lg">
                <a class="nav-link active" href="{% url "core_logout" %}">Cerrar sesion</a>
            </span>
        </div>
        {% endif %}
    </div>
</nav>